/* Don't use display: none to hide elements to keep thing accessible */
.accessible-hide {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.menu--unfolded {
  // Relative for suckerfish menu
  li {
    position: relative;
  }

  /* Initially hide the submenu's */
  ul {
    display: none;
  }

  /* Show the submenu's on hover */
  li:hover > ul {
    display: block !important;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9;
  }

  /* When using a vertical menu */
  &.vertical li:hover > ul {
    top: 0;
    left: 100%;
  }

  /* Submenu items pop out to the right */
  ul li:hover ul {
    top: 0;
    left: 100%;
  }
}


/* Toggle buttons */
.menu_toggle_button,
.sub_toggle {
  display: inline-block;
  cursor: pointer;
}

/* Make buttons at least 44x44px for touch devices */
.menu_toggle_button {
  font-size: 44px;
  line-height: 44px;
  text-align: center;
  min-width: 44px;
  min-height: 44px;
}

// For fixed menus
.sticky-parent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.menu--folded.menu--fixed {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

.menu-too-big--body {
  max-height: 0;
  height: 0;
  overflow: visible;
}

.menu-too-big {
  overflow: auto;
}